menu {
    background-color: lightblue;
    background-image: url("../../../Assets/Images/background.jpg.crdownload");
    background-size: cover;
    padding-top: 150px;
    padding-bottom: 150px;
    color: white;
}